<h1 class="title" >Question index</h1><br />
<ul>

<% @questions.each do |question| %>
  <li>
    <div class="centrado"> <%= link_to question.question, question %></div>
  </li>
<% end %>
</ul> <br />
<%= link_to 'New Question', new_question_path %>

